.outro {
  margin-top: 7em;
  margin-bottom: 6em;
}
  .outro p {
    font-size: 2em;
    font-family: "Josefin Sans", sans-serif;
  }
  .big-button {
    display: inline-block;
    margin-top: 30px;
    background-color: $primary-color;
    padding: 9px 26px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    color: #FFF;
  
    font-size: 20px;
    margin-right: 10px;
  }
    .big-button:hover, .big-button:focus {
      text-decoration: none;
      background-color: #6575CE;
      color: white;
      outline: 5px auto #51B328;
    }